[managers]
node01 ansible_host=node01.nodes.my-domain.com lan_interface=enp9s0 swarm_labels="{'lan-dns': 'true', 'lan-vpn': 'true', 'resilio.node-nr': '1', 'timemachine': 'true'}"

[workers]
node02 ansible_host=node02.nodes.my-domain.com swarm_labels="{'resilio.node-nr': '2'}"

[storage]
node01
node02 storage_device="vdb1"

[swarm:children]
managers
workers

[swarm:vars]
domain=my-domain.com

[all:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_user=root
