# Define your own values for these variables
# - DO NOT put "" or '' around values, or add space around =
# - DO NOT use these special characters within values: \ " '
VPN_IPSEC_PSK=my-strong-shared-secret-key
VPN_USER=my-username
VPN_PASSWORD=my-strong-password

# (Optional) Define additional VPN users
# - Uncomment and replace with your own values
# - Usernames and passwords must be separated by spaces
# VPN_ADDL_USERS=additional_username_1 additional_username_2
# VPN_ADDL_PASSWORDS=additional_password_1 additional_password_2

# (Optional) Use alternative DNS servers
# - By default, clients are set to use Google Public DNS
# - Example below shows using Cloudflare's DNS service
VPN_DNS_SRV1=pihole
VPN_DNS_SRV2=pihole

# (Optional) Use alternative ip pool
VPN_L2TP_NET=192.168.9.0/24
VPN_L2TP_LOCAL=192.168.9.200
VPN_L2TP_POOL=192.168.9.201-192.168.9.225

VPN_XAUTH_NET=192.168.9.0/24
VPN_XAUTH_POOL=192.168.9.226-192.168.9.250
